.env
.air.toml
main
/tmp/*
cmd/server/*
!cmd/server/main.go
__debug_bin*
.vscode/*
# Google credentials
configs/google-credentials.json
pyrhouse-*.sql
restore-wipe-public.sql
staging-pyrhouse-2026-08-06_233419-restore.sql
